:root {
  --height: calc(100vh - 3.5rem);
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  height: var(--height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  nav {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 1rem;
  }
}

.hero-section {
  position: relative;

  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;

    padding-bottom: 12rem;
  }

  h1 {
    display: flex;
    flex-direction: column;

    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
  }

  h2 {
    position: absolute;
    bottom: -100;
    z-index: -1;

    font-size: 20rem;
    font-weight: 900;
    color: #000000;
    opacity: 0.2;
  }
}

.projects-section {
  background-color: #000000;
  color: #ffffff;

  align-items: flex-start;
  gap: 1.5rem;
}
