:root {
  --height: calc(100vh - 3.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  min-height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  nav {
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    gap: 1rem;
  }
}

.hero-section {
  position: relative;

  div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;

    padding-bottom: 12rem;
  }

  h1 {
    display: flex;
    flex-direction: column;

    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
  }
}

.title-name {
  position: absolute;
  bottom: -100;
  z-index: -1;

  font-size: 20rem;
  font-weight: 900;
  opacity: 0.2;
}

.projects-section {
  background-color: #000000;
  color: #ffffff;
  align-items: flex-start;
  gap: 1.5rem;
  padding-block: 2.5rem;

  & > div {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & > h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
  }

  ul {
    display: flex;
    flex-direction: column;

    border-top: 1px solid #ffffff;
    margin-top: 1.5rem;
  }

  li {
    border-bottom: 1px solid #ffffff;
    font-weight: 600;
    padding-block: 2rem;
    padding-inline: 2rem;

    position: relative;

    display: flex;
    justify-content: space-between;

    & > p {
      font-size: 2rem;
    }

    img {
      width: 200px;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      transition: opacity 300ms ease-in-out;
      pointer-events: none;
    }

    &:hover img {
      opacity: 1;
    }

    div {
      text-align: right;
    }

    a {
      font-size: 0.8rem;
      color: #ffffff;
      position: relative;

      &::after {
        content: " ";
        position: absolute;
        bottom: -3;
        left: 0;
        right: 0;

        height: 1px;
        background-color: #ffffff;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 300ms ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}

body {
  overflow: hidden;
  position: relative;
}

.cover {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  animation: fadeOut 1s ease-in-out 2.5s forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.cover div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  overflow: hidden;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  animation: moveDown 1s ease-in-out 1 2s forwards;
}

.cover .title-name {
  text-align: center;
  position: relative;
  display: inline-block;
  bottom: 0;
  left: 0;
  transform-origin: -50% -50%;
  font-size: 20rem;
  opacity: 1;

  animation: rotate 2s ease-in-out 1 forwards;
}

@keyframes rotate {
  0% {
    transform: translateY(100%) rotate(90deg);
  }
  100% {
    transform: translateY(0%) rotate(0deg) skewY(0deg);
  }
}

@keyframes moveDown {
  100% {
    top: 103%;
    transform: translateY(-100%);
  }
}

#circle {
  width: 20px;
  height: 20px;
  background-color: skyblue;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: transform 0.1s ease-out;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
